.category_banner {
	margin: -24px -24px 0;
	background: rgb(68, 78, 89);
	min-height: 20px;
}

.category_banner-content {
	overflow: hidden;
	margin: -10px -20px 0;
	background-color: #fe4300;
}

.category_containerInfo {
	margin: auto;
	max-width: 800px;
	box-sizing: border-box;
	padding-top: 10px;
}

.category_score{
	display: inline-block;
	margin: 10px 20px;
}
