/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #fafafa;
}

.customModal {
	.mat-dialog-container {
		padding: 0
	}
}
